/* 시트 콘텐츠  */

.sheet-content {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.3s ease-out;
  background: #f9f9f9;
}

.drag-y {
  opacity: 0.5;
}

.content-item {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;

  cursor: pointer;
  /* -webkit-user-select: none;
  user-select: none; 텍스트 선택 효과 지우기 */
}

.content-item img {
  width: 15%;
  border-radius: 8px;
}

.content-txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.index-change-btn {
  width: 20%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  cursor: grab;
}

.index-change-btn:active {
  cursor: grabbing;
}

.delete-btn {
  width: 6.6%;
  position: absolute;
  right: -7%;
  cursor: pointer;
  border-radius: 5px;
}
