html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* 바텀시트 */

.bottom-sheet-wrap {
  position: relative;
  overflow: hidden; /* 화면 밖으로 넘는 부분 숨기기 */
  /* z-index: 10; */
}

.bottom-sheet {
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0; /* 화면 하단에 고정 */
  background: #ffffff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.sheet-header {
  height: 10%; /* 헤더의 높이 */
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.sheet-header:active {
  cursor: grabbing;
}

.sheet-handle {
  width: 20%;
  height: 0.5rem;
  background-color: #aaa;
  border-radius: 10px;
}

.sheet-content-wrap {
  max-height: calc(100vh - 10rem);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  gap: 1rem;
}

/* 시트 콘텐츠  */

.sheet-content {
  display: flex;
  position: relative;
}

.handle {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #f9f9f9;
}

.content-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content-item img {
  width: 20rem;
  border-radius: 8px;
}

.content-txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}

.index-change-btn {
  width: 10rem;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grabbing;
  position: absolute;
  right: 0;
  z-index: 5;
}

.delete-btn {
  width: 15rem;
  position: absolute;
  right: -15rem;
  cursor: pointer;
}

.drag-y {
  opacity: 0.5;
}
.left {
  transform: translateX(-16rem);
  transition: transform 1s ease-out;
}

.right {
  transform: translateX(0);
  transition: transform 1s ease-out;
}

.btn-hidden .index-change-btn {
  display: none;
}
